---
layout: default2018
---

<div class="header-row" id="header-row" style="padding: 0px; overflow:hidden; height:100%;">
	<div class="container" style="padding: 0px;">
		<div class="row">
			<div class="col-xs-12">
			<!-- place your image here -->
				<!-- <img src="/res2018/XC2 Logo on Flat Map 684x400_hi res.jpg" alt="company logo" style="width: 100%; padding-top: 15px; padding-bottom: 15px;"> -->
				<a href="https://blockchainsupplychain.io/#register"><img src="/res2018/XC2 Logo on Flat Map.png" alt="company logo" style="width: 100%; padding-top: 15px; padding-bottom: 15px;"></a>
			</div>
		</div>
	</div>
</div>

<section class="container">
	<div id="agenda">
		<!--<h1>NEXT CONFERENCE DATES ANNOUNCED</h1>-->
		<div class="row">
			<div class="col-md-12">
				<h1 style="text-align:center"><a href="https://blockchainsupplychain.io/Post-Show-Report_XChain2-Blockchain-for-Supply-Chain-and-Logistics-Forum_May-2018.pdf"><font size="+10">View the Post Show Report (May 2018) Here</font></a></h1>
			</div>
		</div>
	</div>
</section>

<hr class="clearfix w-100 d-md-none standard-break">

<section class="container">
	<div id="speakers" class="people-media-list">
		<h1>Speakers & Panelists from XChain2 (May 2018)</h1>
		<div class="row">
			{% assign posts2018 = site.posts2018 | where: "categories", "speakers"	| sort: 'date' | reverse %}            
			{% for post in posts2018 %}
			<div class="card col-md-3 col-sm-4 col-xs-6 col-xxs-12">
				<a href="{{ post.url }}">
					<img src="{{ post.image }}" alt="">
				</a>
				<div class="caption">
					<a href="{{ post.url }}">
						<h4>{{ post.name }}</h4>
					</a>
					<p>{{ post.position }}</p>
					{% if post.youtube   %}
					<a target="_blank" href="{{ post.youtube }}"><img src="res/yt_logo_rgb_light.png" style="width:90px;height: 25px;"></a>							
					{% endif %}
					&nbsp;&nbsp;&nbsp;&nbsp;
					{% if post.otherlinks   %}
					<a target="_blank" href="{{post.otherlinks}}"><img src="res/link_icon_blue.png" style="width:90px;height: 25px;"></a>							
					{% endif %}

				</div>
		
			</div>

			{% endfor %}
		</div>
	</div>
<h1>Panels</h1>
			<h3 style="text-align:center"><a href="https://www.youtube.com/watch?v=uLCpq76UCPk&list=PL0D_unzx1KXhvrIzPl1j0mrihgq44nGOh&index=8&t=0s">Special Introduction - Port Houston</a></h3>
			<h3 style="text-align:center"><a href="https://www.youtube.com/watch?v=r3upez_owmA&list=PL0D_unzx1KXhvrIzPl1j0mrihgq44nGOh&index=9&t=14s">Maritime Trade Panel & End-to-end Supply Chain Collaboration</a></h3>
			<h3 style="text-align:center"><a href="https://www.youtube.com/watch?v=k1rqEup29yY&list=PL0D_unzx1KXhvrIzPl1j0mrihgq44nGOh&index=14&t=16s">Investing & Blockchain Startups Panel</a></h3>
			<h3 style="text-align:center"><a href="https://www.youtube.com/watch?v=AMEcNEzdhM0&list=PL0D_unzx1KXhvrIzPl1j0mrihgq44nGOh&index=15&t=0s">Petrochemicals & Blockchain Panel</a></h3>
			<h3 style="text-align:center"><a href="https://www.youtube.com/watch?v=2M1Z7UUwSrU&list=PL0D_unzx1KXhvrIzPl1j0mrihgq44nGOh&index=23">Blockchain & Energy Trading Panel</a></h3>
</section>


<hr class="clearfix w-100 d-md-none standard-break">

<section class="container">
		<div id="agenda">		
			<div class="row">
				<div class="col-md-12">
					<h1 style="text-align:center"><a href=".././Agenda_(Digital-May-2018).pdf"><font size="+10">View Agenda from May 2018 Conference</font></h1> 
					<h2 style="text-align:center">(Click Here)</a></h2>
				</div>
			</div>
		</div>
</section>

<hr class="clearfix w-100 d-md-none standard-break">

<section class="container">
	<div id="sponsors" class="people-list">
		<h1>Sponsors & Partners</h1>
		<p class="notice">*Sponsors & Partners from May 2018 Conference</p>
		<p class="notice">Interested in sponsoring the next edition of XChain2? Contact us at sponsors@blockchainsupplychain.io.</p>
		<br>
		<h2>Sponsors</h2>
		<div class="row">
        {% assign posts2018 = site.posts2018 | where: "categories", "sponsors-main" | sort: 'object-id' %}            
        {% for post in posts2018 %}
			<div class="card col-lg-3 col-md-3 col-sm-4 col-xs-6 col-xxs-12">
				<a href="{{ post.url }}">
					<img src="{{ post.image }}" alt="">
				</a>
				<div class="caption">
					<a href="{{ post.url }}">
						<h4>{{ post.name }}</h4>
					</a>
					<p></p>
				</div>
			</div>
		{% endfor %}
		</div>

		<h2>Media Partners</h2>
		<div class="row">
        {% assign posts2018 = site.posts2018 | where: "categories", "sponsors-media" | sort: 'object-id'   %}            
        {% for post in posts2018 %}            
			<div class="card col-lg-3 col-md-3 col-sm-4 col-xs-6 col-xxs-12">
				<a href="{{ post.url }}">
					<img src="{{ post.image }}" alt="">
				</a>
				<div class="caption">
					<a href="{{ post.url }}">
						<h4>{{ post.name }}</h4>
					</a>
					<p></p>
				</div>
			</div>
		{% endfor %}
		</div>

		<h2>Association Partners</h2>
		<div class="row">
        {% assign posts2018 = site.posts2018 | where: "categories", "sponsors-association" | sort: 'object-id' %}            
        {% for post in posts2018 %}        
			<div class="card col-lg-3 col-md-3 col-sm-4 col-xs-6 col-xxs-12">
				<a href="{{ post.url }}">
					<img src="{{ post.image }}" alt="">
				</a>
				<div class="caption">
					<a href="{{ post.url }}">
						<h4>{{ post.name }}</h4>
					</a>
				</div>
			</div>
		{% endfor %}
		</div>
	</div>
</section>

<hr class="clearfix w-100 d-md-none standard-break">

<section class="container">
	<div id="organizers" class="people-list">
		<h1>Organizers & Advisors</h1>
		<p class="notice">*Organizers & Advisors from May 2018 Conference</p>
		<div class="row">


        {% assign posts2018 = site.posts2018 | where: "categories", "organizers" | sort: 'object-id' %}            
        {% for post in posts2018 %}            
			<div class="card center-all-card extra-space-card col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-12">
				<a href="{{ post.url }}">
					<img src="{{ post.image }}" alt="">
				</a>
				<div class="caption">
					<a href="{{ post.url }}">
						<h4>{{ post.name }}, Organizer</h4>
					</a>
					<p>{{ post.position }}</p>
				</div>
			</div>
        {% endfor %}
        {% assign posts2018 = site.posts2018 | where: "categories", "advisors" | sort: 'object-id' %}            
        {% for post in posts2018 %}
			<div class="card center-all-card extra-space-card col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-12">
				<a href="{{ post.url }}">
					<img src="{{ post.image }}" alt="">
				</a>
				<div class="caption">
					<a href="{{ post.url }}">
						<h4>{{ post.name }}, Advisor</h4>
					</a>
					<p>{{ post.position }}</p>
				</div>
			</div>
		{% endfor %}
		</div>
	</div>

	<div id="organizing-companies" class="people-list">
		<div class="row">
            <div class="dummy col-lg-3 col-md-3"></div>
        {% assign posts2018 = site.posts2018 | where: "categories", "organizer-company" | sort: 'object-id' %}            
        {% for post in posts2018 %}            
			<div class="card center-all-card img-only-card col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-12">
				<a href="{{ post.url }}">
					<img src="{{ post.image }}" alt="">
				</a>
				<div class="caption">
					<a href="{{ post.url }}">
						<h4 style="margin-bottom: 0;">{{ post.title }}</h4>
					</a>
					<p></p>
				</div>
			</div>
		{% endfor %}
			<div class="dummy col-lg-3 col-md-3"></div>
		</div>
	</div>
</section>

