---
layout: default
---

<div class="header-row" id="header-row" style="padding: 0px; overflow:hidden; height:100%;">
	<div class="container" style="padding: 0px;">
		<div class="row">
			<div class="col-xs-12">
			<!-- place your image here -->
				<!-- <img src="/res/XC2 Logo on Flat Map 684x400_hi res.jpg" alt="company logo" style="width: 100%; padding-top: 15px; padding-bottom: 15px;"> -->
				<a href="https://blockchainsupplychain.io/#register"><img src="/res2019/XC2-Logo over Flat Map_Dec 2018.jpg" alt="company logo" style="width: 100%; padding-top: 15px; padding-bottom: 15px;"></a>
			</div>
		</div>
	</div>
</div>

<hr class="clearfix w-100 d-md-none standard-break">
<section class="container">
	<div id="agenda">
		<!--<h1>NEXT CONFERENCE DATES ANNOUNCED</h1>-->
		<div class="row">
			<div class="col-md-12">
				<h1 style="text-align:center"><a onclick="return gtag_report_conversion('https://blockchainsupplychain.io/Agenda-181202v1.pdf');" href="https://blockchainsupplychain.io/Agenda-181202v1.pdf"><font size="+10">View the Full Agenda</font></h1> 
				<h2 style="text-align:center">(Click Here)</a></h2>
			</div>
		</div>
	</div>
</section>

<hr class="clearfix w-100 d-md-none standard-break">
<br>

<section class="container">
	<div id="speakers" class="people-list">
		<h1><font size="+10">Distinguished Speakers</font></h1>
		<br>
		<div class="row">
			{% for post in site.categories.speakers %}
			<div class="card col-md-3 col-sm-4 col-xs-6 col-xxs-12">
				<a href="{{ post.url }}">
					<img src="{{ post.image }}" alt="">
				</a>
				<div class="caption">
					<a href="{{ post.url }}">
						<h4>{{ post.name }}</h4>
					</a>
					<p>{{ post.position }}</p>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
		
<hr class="clearfix w-100 d-md-none standard-break">		
		
<section class="container">
	<div id="sponsors" class="people-list">
		<h1>Sponsors & Partners</h1>
		<h2>Gold Sponsors</h2>
		<div class="row">
		{% for post in site.categories.sponsors-gold %}
			<div class="card col-lg-3 col-md-3 col-sm-4 col-xs-6 col-xxs-12">
				<a href="{{ post.url }}">
					<img src="{{ post.image }}" alt="">
				</a>
				<div class="caption">
					<a href="{{ post.url }}">
						<h4>{{ post.name }}</h4>
					</a>
					<p></p>
				</div>
			</div>
		{% endfor %}
		</div>

		<h2>Sponsors</h2>
		<div class="row">
		{% for post in site.categories.sponsors-main %}
			<div class="card col-lg-3 col-md-3 col-sm-4 col-xs-6 col-xxs-12">
				<a href="{{ post.url }}">
					<img src="{{ post.image }}" alt="">
				</a>
				<div class="caption">
					<a href="{{ post.url }}">
						<h4>{{ post.name }}</h4>
					</a>
					<p></p>
				</div>
			</div>
		{% endfor %}
		</div>
		
		<h2>Reception Sponsor</h2>
		<div class="row">
		{% for post in site.categories.sponsors-reception %}
			<div class="card col-lg-3 col-md-3 col-sm-4 col-xs-6 col-xxs-12">
				<a href="{{ post.url }}">
					<img src="{{ post.image }}" alt="">
				</a>
				<div class="caption">
					<a href="{{ post.url }}">
						<h4>{{ post.name }}</h4>
					</a>
					<p></p>
				</div>
			</div>
		{% endfor %}
		</div>

		<h2>Media Partners</h2>
		<div class="row">
		{% for post in site.categories.sponsors-media %}
			<div class="card col-lg-3 col-md-3 col-sm-4 col-xs-6 col-xxs-12">
				<a href="{{ post.url }}">
					<img src="{{ post.image }}" alt="">
				</a>
				<div class="caption">
					<a href="{{ post.url }}">
						<h4>{{ post.name }}</h4>
					</a>
					<p></p>
				</div>
			</div>
		{% endfor %}
		</div>
		
		<h2>Association Partners</h2>
		<div class="row">
		{% for post in site.categories.sponsors-association %}
			<div class="card col-lg-3 col-md-3 col-sm-4 col-xs-6 col-xxs-12">
				<a href="{{ post.url }}">
					<img src="{{ post.image }}" alt="">
				</a>
				<div class="caption">
					<a href="{{ post.url }}">
						<h4>{{ post.name }}</h4>
					</a>
				</div>
			</div>
		{% endfor %}
		</div>

<hr class="clearfix w-100 d-md-none standard-break">

<section class="container">
	<div id="organizers" class="people-list">
		<h1>Organizers & Advisors</h1>
		<div class="row">
		{% for post in site.categories.organizers %}
			<div class="card center-all-card extra-space-card col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-12">
				<a href="{{ post.url }}">
					<img src="{{ post.image }}" alt="">
				</a>
				<div class="caption">
					<a href="{{ post.url }}">
						<h4>{{ post.name }}, Organizer</h4>
					</a>
					<p>{{ post.position }}</p>
				</div>
			</div>
		{% endfor %}
		{% for post in site.categories.advisors %}
			<div class="card center-all-card extra-space-card col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-12">
				<a href="{{ post.url }}">
					<img src="{{ post.image }}" alt="">
				</a>
				<div class="caption">
					<a href="{{ post.url }}">
						<h4>{{ post.name }}, Advisor</h4>
					</a>
					<p>{{ post.position }}</p>
				</div>
			</div>
		{% endfor %}
		</div>
	</div>

	<div id="organizing-companies" class="people-list">
		<div class="row">
			<div class="dummy col-lg-3 col-md-3"></div>
		{% for post in site.categories.organizer-company %}
			<div class="card center-all-card img-only-card col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-12">
				<a href="{{ post.url }}">
					<img src="{{ post.image }}" alt="">
				</a>
				<div class="caption">
					<a href="{{ post.url }}">
						<h4 style="margin-bottom: 0;">{{ post.title }}</h4>
					</a>
					<p></p>
				</div>
			</div>
		{% endfor %}
			<div class="dummy col-lg-3 col-md-3"></div>
		</div>
	</div>
</section>
