---
layout: default
---
<section class="container">
	<div id="speakers" class="people-media-list">
		<h1>Presentation Materials from XChain2 2018</h1>
		<p class="notice">*Speakers & Panelists from May 2018 Conference</p>
		<p class="notice">Interested in speaking at the next edition of XChain2? Contact us at speakers@blockchainsupplychain.io.</p>
<br>
		<h1>Panels</h1>
		<h3 style="text-align:center"><a href="https://www.youtube.com/watch?v=uLCpq76UCPk&list=PL0D_unzx1KXhvrIzPl1j0mrihgq44nGOh&index=8&t=0s">Special Introduction - Port Houston</h3>
		<h3 style="text-align:center"><a href="https://www.youtube.com/watch?v=r3upez_owmA&list=PL0D_unzx1KXhvrIzPl1j0mrihgq44nGOh&index=9&t=14s">Maritime Trade Panel & End-to-end Supply Chain Collaboration</h3>
		<h3 style="text-align:center"><a href="https://www.youtube.com/watch?v=k1rqEup29yY&list=PL0D_unzx1KXhvrIzPl1j0mrihgq44nGOh&index=14&t=16s">Investing & Blockchain Startups Panel</h3>
		<h3 style="text-align:center"><a href="https://www.youtube.com/watch?v=AMEcNEzdhM0&list=PL0D_unzx1KXhvrIzPl1j0mrihgq44nGOh&index=15&t=0s">Petrochemicals & Blockchain Panel</h3>
		<div class="row">
			{% assign posts2018 = site.posts2018 | where: "categories", "speakers"	| sort: 'date' | reverse %}            
			{% for post in posts2018 %}
			<div class="card col-md-3 col-sm-4 col-xs-6 col-xxs-12">
				<a href="{{ post.url }}">
					<img src="{{ post.image }}" alt="">
				</a>
				<div class="caption">
					<a href="{{ post.url }}">
						<h4>{{ post.name }}</h4>
					</a>
					<p>{{ post.position }}</p>
					{% if post.youtube   %}
					<a target="_blank" href="{{ post.youtube }}"><img src="res/yt_logo_rgb_light.png" style="width:90px;height: 25px;"></a>							
					{% endif %}
					&nbsp;&nbsp;&nbsp;&nbsp;
					{% if post.otherlinks   %}
					<a target="_blank" href="{{post.otherlinks}}"><img src="res/link_icon_blue.png" style="width:90px;height: 25px;"></a>							
					{% endif %}

				</div>

			</div>

			{% endfor %}
		</div>
	</div>
</section>

